body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .presentation {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .slide,
  .phrase-screen {
    display: none; /* Oculta todo por defecto */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .slide.active,
  .phrase-screen.active {
    display: flex; /* Muestra solo el elemento activo */
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Mostrar toda la imagen sin recortar */
  }
  
  .phrase-screen {
    background: #000;
    flex-direction: column;
    text-align: center;
  }
  
  .phrase-screen p {
    margin: 5px 0;
    font-size: 1.5rem; /* Cambiar de 2rem a 1.8rem para hacerlo un poco más pequeño */
    color: #fff;
}

  
  /* Estilos para el botón */
  #playButton {
    position: absolute;
    font-size: 1.5rem;
    color: #fafafa;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
  }
  button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }